* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue-color: #1E50D2;
    --white-color: #fff;
    --light-blue-color: #4682E6;
    --green-color: #14BE82;
    --light-blue-text: #A0D2FA;
    --grey-color: #F4F6FA;
    --grey-color-text: #788296;
}

.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: var(--blue-color);
}

nav {
    display: flex;
    padding: 1% 15%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 50px;
}


/* .nav-links {
    flex: 1;
    text-align: right;
} */

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 6px;
    position: relative;
}

.nav-links ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 18px;
}

.btn {
    display: inline-block;
    padding: 10px 12px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.btn-transparent {
    background: transparent;
    border: 0.5px solid #A0D2FA;
}

.btn-light-blue {
    background: var(--light-blue-color);
}

.btn-light-blue:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.btn-green {
    background: var(--green-color);
}

.btn-green:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

nav .fa {
    display: none;
}

hr {
    border: 0.2px solid var(--light-blue-text);
}

@media (max-width: 992px) {
    .nav-links ul li {
        display: block;
        margin: 40px 20px;
    }
    .nav-links {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: var(--blue-color);
        display: flex;
        z-index: 2;
        top: -100%;
        left: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: var(--white-color);
        margin: 10px;
        cursor: pointer;
    }
    .close-icon {
        font-size: 35px;
        position: absolute;
        right: 80px;
        top: 50px;
        cursor: pointer;
        color: #fff;
    }
    .menu-icon {
        font-size: 35px;
        cursor: pointer;
    }
    .nav-links .btn {
        padding: 30px 30px;
        min-width: 200px;
    }
}

@media (max-width: 575px) {}

.pad-t {
    padding-bottom: 100px;
}

.pad-t-medium {
    padding-bottom: 75px;
}

.pad-t-small {
    padding-bottom: 50px;
}

.container {
    width: 70%;
}

.main {
    margin: auto;
    padding: 80px 0 0 0;
}

.main h1 {
    text-align: left;
    color: #fff;
}

h1 {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    line-height: 52px;
}

p {
    font-size: 22px;
    font-weight: 600;
    line-height: 34px;
    color: var(--light-blue-text);
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-col {
    flex-basis: 50%;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.main-col a {
    font-size: 22px;
    padding: 20px 20px;
    margin-right: 10px;
}

.main-col img {
    width: 100%;
    display: block;
}

@media (max-width: 1500px) {
    .container {
        width: 80%;
    }
    .main {
        margin: auto;
        padding: 80px 0 0 0;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .main {
        margin: auto;
        padding: 80px 0 0 0;
    }
}

@media (max-width: 992px) {
    .button a {
        display: block;
        margin-bottom: 5px;
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .main {
        padding-left: 20px;
    }
    .pad-t {
        padding-bottom: 50px;
    }
    .pad-t-medium {
        padding-bottom: 35px;
    }
    .pad-t-small {
        padding-bottom: 20px;
    }
}